<a class="btn btn-primary" href="/{{currentURL}}/matchResult" role="button">Ghi kết quả trận đấu</a>
<a class="btn btn-primary" href="/{{currentURL}}/report" role="button">Lập báo cáo giải</a>
<a class="btn btn-primary" href="/{{currentURL}}/schedule" role="button">Chỉnh sửa lịch thi đấu</a>
<a class="btn btn-primary" href="/{{currentURL}}/changeRule" role="button">Thay đổi quy định</a>