<div class="con">
  <div style=""><img style="width:80%"src="../Vector.png" alt=""></div>
  <div style="width:60%;padding-left:10%; border-left : solid black 1px; height:70%">
    <h1>Đăng nhập vào hệ quản trị</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="text">Tài khoản:</label>
        <input type="text" class="form-control" placeholder="Nhập tài khoản" name="user">
      </div>
      <div class="form-group">
        <label for="pwd">Mật khẩu:</label>
        <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Ghi nhớ đăng nhập
        </label>
      </div>
      <button type="submit" class="button">Đăng nhập</button>
    </form>
  </div>
</div>
<style>
  body {
    width: 100vw;
    height: 100vh;
    background-color: #cccccc;

    background-image: url('../background.png');
    
  }

  .con {
    margin: auto;
    padding-top: 8%;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 7%;
    height: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
    border-radius: 1vh;

    color: #000000;

  }
</style>