{{!-- <form action="/login" method="POST">
  <div class="form-group">
    <label for="text">Username:</label>
    <input type="text" class="form-control" placeholder="Enter username" id="email" name="user">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}
<div class="con">
  <div></div>
  <div style="width:40%;">
    <h1>Đăng nhập vào hệ quản trị</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="text">Tài khoản:</label>
        <input type="text" class="form-control" placeholder="Nhập tài khoản" name="user">
      </div>
      <div class="form-group">
        <label for="pwd">Mật khẩu:</label>
        <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Ghi nhớ đăng nhập
        </label>
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>
<style>
  body {
    width: 100vw;
    height: 100vh;
  }

  .con {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 5%;
    height: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
    border-radius: 1vh;

    color: #000000;

  }
</style>