
    .title {

        margin: auto;
        margin-top: 0.5%;
        width: 80%;
        height: 10%;

        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3vw;
        line-height: 3vw;
        color: #E32B19;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: solid 1vh #E32B19;

    }

    body {
        width: 100vw;
        height: 100vh;
        
        background: linear-gradient(180deg, #F03B3B 0%, #D9D9D9 26.56%);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .con {
        margin: auto;
        width: 95%; 
        height: 80%;
        background: #FFFCFC;
        border: solid black 1px;
        /* overflow: auto; */
    }