<link rel="stylesheet" href="/CSS/information.css">
<div class="con">
    <div class="title">
        Danh Sách Đội Bóng
    </div>
    <div class="imagecon">
    {{#each Doi }}
        <img src="../Logo/{{MaDoi}}.png" id={{MaDoi}} alt="">
    {{/each}}
    </div>
</div>
<style>
    .imagecon{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 2%;
        width: 80%;
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    img{
        width:18% ;
        height:35% ;
    }
</style>

<script>
    {{#each Doi}}
    $(function(){
         $(`#{{MaDoi}}`).click(function () {
            window.location.href = `/information/team/{{MaDoi}}`;
            return false;
        });
    })
    {{/each}}
</script>