<link rel="stylesheet" href="../CSS/information.css">
<div class="con">
    <div class="title">
        Danh Sách Đội Bóng
    </div>
    <div class="imagecon">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
        <img src="../Logo/Sai-Gon 7.png" alt="">
    </div>
</div>
<style>
    .imagecon{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagecon img{
        width:10% ;
        height:20% ;
    }
</style>