<a class="btn btn-primary" href="/{{currentURL}}/rule" role="button">Quy định giải đấu</a>
<a class="btn btn-primary" href="/{{currentURL}}/resultLeague" role="button">Kết quả thi đấu</a>
<a class="btn btn-primary" href="/{{currentURL}}/raking" role="button">Báo cáo giải</a>
<a class="btn btn-primary" href="/{{currentURL}}/team" role="button">Dach sách cầu thủ</a>