<link rel="stylesheet" href="../CSS/information.css">
<div class="con">
    <div class="title">
        Danh sách cầu thủ
    </div>
    <table class="table scrolldown">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col"> Cầu thủ</th>
                <th scope="col">Loại cầu thủ</th>
                <th scope="col">Số bàn thắng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Bùi Tấn Trường</td>
                <td>Thủ môn</td>
                <td>0</td>
            </tr>


        </tbody>
    </table>

</div>

<style>
    .con {
        overflow: unset;
    }

    .table {
  
        font-size: 1.5vw;
        width: 70%;
        height: 80%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        border-collapse: separate;
        border-spacing: 0.5vw;

    }

    /* To display the block as level element */
    table.scrolldown tbody,
    table.scrolldown thead {
        display: block;
    }


    table.scrolldown tbody {

        /* Set the height of table body */
        height: 80%;

        /* Set vertical scroll */
        overflow-y: auto;

        /* Hide the horizontal scroll */
        overflow-x: hidden;
    }

    thead tr {
        padding-right: 1.15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
         background-color: #D9D9D9;
      
    }

    tbody tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #D9D9D9;
        margin-top:1% ;
    }

    tr th,tr td{
        text-align: center;
        width: 20%;
    }

</style>