<link rel="stylesheet" href="/CSS/information.css">
<div class="con">
    <div class="title">
        Quy Định Giải Đấu
    </div>
    <div>
        <ol type="1">
            <li>Tuổi cầu thủ từ 16 đến 40. Có 2 loại cầu thủ (trong nước, ngoài nước). Số cầu thủ từ 15 đến 22 (tối đa 3
                cầu thủ nước ngoài).
            </li>
            <li>Trong 1 vòng mỗi đội tham gia đúng 1 trận. Đội 1 là đội đá trên sân nhà. Trong cả giải mỗi đội thi đấu
                đúng 2 lần với đội khác (Một lần sân nhà, một lần sân khách).</li>
            <li>Có 3 loại bàn thắng (A, B, C). Thời điểm đến phút 96.</li>
            <li>Xếp hạng: thắng: 3, hoà: 1, thua: 0. Xếp hạng theo điểm, hiệu số, tổng bàn thắng, đối kháng .</li>
        </ol>
    </div>
</div>
<style>
    ol{
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 2%;
    }
    ol li {
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;

        color: #000000;

    }
</style>